.article_Flexbox {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 1rem;
}
.article_title {
  text-align: center;
}
.article_nameanddate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dateheight {
  font-size: 12px;
}

.application_pagging {
  margin-left: 5rem;
}

html {
  background-image: linear-gradient(green, yellow);
  background-repeat: no-repeat, repeat;
  background-size: cover;
  height: 100%;
}
.button {
  background-color: Transparent;
}
